Flask~=2.0.1
PyJWT~=2.1.0
Werkzeug~=2.0.1
pymongo~=3.12.0
gunicorn~=20.1.0
APScheduler
BareNecessities
Bcrypt-Flask
Datetime
Flask-Caching
Jinja2
Mail
MarkupSafe
backports.entry-points-selectable
bcrypt
certifi
cffi
charset-normalizer
click
colorama
cryptography
distlib
dnspython
fernet
filelock
idna
itsdangerous
jsonify
numpy
pip
pipenv
platformdirs
pyaes
pycparser
pytz
requests
setuptools
six
tzlocal
urllib3
virtualenv
virtualenv-clone
wheel
zope.interface